<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>taso.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>5</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>2F2540F755E191155E8E6996C53C8A0FB26CBDCD</string>
				<key>dateExpires</key>
				<string>19/02/26</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2F2540F755E191155E8E6996C53C8A0FB26CBDCD</string>
						<key>dateExpires</key>
						<string>19/02/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6U9L6W4Z79</string>
						<key>name</key>
						<string>Murtuza Mir Mohammed</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2F2540F755E191155E8E6996C53C8A0FB26CBDCD</string>
						<key>dateExpires</key>
						<string>19/02/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>DKImagePickerController.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6U9L6W4Z79</string>
						<key>name</key>
						<string>Murtuza Mir Mohammed</string>
					</dict>
					<key>versionNumber</key>
					<string>4.3.9</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2F2540F755E191155E8E6996C53C8A0FB26CBDCD</string>
						<key>dateExpires</key>
						<string>19/02/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>DKPhotoGallery.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6U9L6W4Z79</string>
						<key>name</key>
						<string>Murtuza Mir Mohammed</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.19</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2F2540F755E191155E8E6996C53C8A0FB26CBDCD</string>
						<key>dateExpires</key>
						<string>19/02/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6U9L6W4Z79</string>
						<key>name</key>
						<string>Murtuza Mir Mohammed</string>
					</dict>
					<key>versionNumber</key>
					<string>2.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2F2540F755E191155E8E6996C53C8A0FB26CBDCD</string>
						<key>dateExpires</key>
						<string>19/02/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6U9L6W4Z79</string>
						<key>name</key>
						<string>Murtuza Mir Mohammed</string>
					</dict>
					<key>versionNumber</key>
					<string>11.7.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2F2540F755E191155E8E6996C53C8A0FB26CBDCD</string>
						<key>dateExpires</key>
						<string>19/02/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreInternal.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6U9L6W4Z79</string>
						<key>name</key>
						<string>Murtuza Mir Mohammed</string>
					</dict>
					<key>versionNumber</key>
					<string>11.7.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2F2540F755E191155E8E6996C53C8A0FB26CBDCD</string>
						<key>dateExpires</key>
						<string>19/02/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstallations.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6U9L6W4Z79</string>
						<key>name</key>
						<string>Murtuza Mir Mohammed</string>
					</dict>
					<key>versionNumber</key>
					<string>11.7.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2F2540F755E191155E8E6996C53C8A0FB26CBDCD</string>
						<key>dateExpires</key>
						<string>19/02/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseMessaging.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6U9L6W4Z79</string>
						<key>name</key>
						<string>Murtuza Mir Mohammed</string>
					</dict>
					<key>versionNumber</key>
					<string>11.7.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2F2540F755E191155E8E6996C53C8A0FB26CBDCD</string>
						<key>dateExpires</key>
						<string>19/02/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6U9L6W4Z79</string>
						<key>name</key>
						<string>Murtuza Mir Mohammed</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2F2540F755E191155E8E6996C53C8A0FB26CBDCD</string>
						<key>dateExpires</key>
						<string>19/02/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6U9L6W4Z79</string>
						<key>name</key>
						<string>Murtuza Mir Mohammed</string>
					</dict>
					<key>versionNumber</key>
					<string>10.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2F2540F755E191155E8E6996C53C8A0FB26CBDCD</string>
						<key>dateExpires</key>
						<string>19/02/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6U9L6W4Z79</string>
						<key>name</key>
						<string>Murtuza Mir Mohammed</string>
					</dict>
					<key>versionNumber</key>
					<string>8.0.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2F2540F755E191155E8E6996C53C8A0FB26CBDCD</string>
						<key>dateExpires</key>
						<string>19/02/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Masonry.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6U9L6W4Z79</string>
						<key>name</key>
						<string>Murtuza Mir Mohammed</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2F2540F755E191155E8E6996C53C8A0FB26CBDCD</string>
						<key>dateExpires</key>
						<string>19/02/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6U9L6W4Z79</string>
						<key>name</key>
						<string>Murtuza Mir Mohammed</string>
					</dict>
					<key>versionNumber</key>
					<string>5.21.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2F2540F755E191155E8E6996C53C8A0FB26CBDCD</string>
						<key>dateExpires</key>
						<string>19/02/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftyGif.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6U9L6W4Z79</string>
						<key>name</key>
						<string>Murtuza Mir Mohammed</string>
					</dict>
					<key>versionNumber</key>
					<string>5.4.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2F2540F755E191155E8E6996C53C8A0FB26CBDCD</string>
						<key>dateExpires</key>
						<string>19/02/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>TOCropViewController.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6U9L6W4Z79</string>
						<key>name</key>
						<string>Murtuza Mir Mohammed</string>
					</dict>
					<key>versionNumber</key>
					<string>2.7.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2F2540F755E191155E8E6996C53C8A0FB26CBDCD</string>
						<key>dateExpires</key>
						<string>19/02/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>WebRTC.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6U9L6W4Z79</string>
						<key>name</key>
						<string>Murtuza Mir Mohammed</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>2819</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2F2540F755E191155E8E6996C53C8A0FB26CBDCD</string>
						<key>dateExpires</key>
						<string>19/02/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>ZIM.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6U9L6W4Z79</string>
						<key>name</key>
						<string>Murtuza Mir Mohammed</string>
					</dict>
					<key>versionNumber</key>
					<string>2.17.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2F2540F755E191155E8E6996C53C8A0FB26CBDCD</string>
						<key>dateExpires</key>
						<string>19/02/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>ZIPFoundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6U9L6W4Z79</string>
						<key>name</key>
						<string>Murtuza Mir Mohammed</string>
					</dict>
					<key>versionNumber</key>
					<string>0.9.19</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>2084</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2F2540F755E191155E8E6996C53C8A0FB26CBDCD</string>
						<key>dateExpires</key>
						<string>19/02/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>ZPNs.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6U9L6W4Z79</string>
						<key>name</key>
						<string>Murtuza Mir Mohammed</string>
					</dict>
					<key>versionNumber</key>
					<string>2.6.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>41369</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2F2540F755E191155E8E6996C53C8A0FB26CBDCD</string>
						<key>dateExpires</key>
						<string>19/02/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>ZegoConnection.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6U9L6W4Z79</string>
						<key>name</key>
						<string>Murtuza Mir Mohammed</string>
					</dict>
					<key>versionNumber</key>
					<string>6.33.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>42747</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2F2540F755E191155E8E6996C53C8A0FB26CBDCD</string>
						<key>dateExpires</key>
						<string>19/02/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>ZegoExpressEngine.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6U9L6W4Z79</string>
						<key>name</key>
						<string>Murtuza Mir Mohammed</string>
					</dict>
					<key>versionNumber</key>
					<string>3.19.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2F2540F755E191155E8E6996C53C8A0FB26CBDCD</string>
						<key>dateExpires</key>
						<string>19/02/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>ZegoUIKitReport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6U9L6W4Z79</string>
						<key>name</key>
						<string>Murtuza Mir Mohammed</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2F2540F755E191155E8E6996C53C8A0FB26CBDCD</string>
						<key>dateExpires</key>
						<string>19/02/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>audio_session.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6U9L6W4Z79</string>
						<key>name</key>
						<string>Murtuza Mir Mohammed</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2F2540F755E191155E8E6996C53C8A0FB26CBDCD</string>
						<key>dateExpires</key>
						<string>19/02/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>connectivity_plus.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6U9L6W4Z79</string>
						<key>name</key>
						<string>Murtuza Mir Mohammed</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2F2540F755E191155E8E6996C53C8A0FB26CBDCD</string>
						<key>dateExpires</key>
						<string>19/02/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>device_info_plus.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6U9L6W4Z79</string>
						<key>name</key>
						<string>Murtuza Mir Mohammed</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2F2540F755E191155E8E6996C53C8A0FB26CBDCD</string>
						<key>dateExpires</key>
						<string>19/02/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>file_picker.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6U9L6W4Z79</string>
						<key>name</key>
						<string>Murtuza Mir Mohammed</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2F2540F755E191155E8E6996C53C8A0FB26CBDCD</string>
						<key>dateExpires</key>
						<string>19/02/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_contacts.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6U9L6W4Z79</string>
						<key>name</key>
						<string>Murtuza Mir Mohammed</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2F2540F755E191155E8E6996C53C8A0FB26CBDCD</string>
						<key>dateExpires</key>
						<string>19/02/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_document_picker.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6U9L6W4Z79</string>
						<key>name</key>
						<string>Murtuza Mir Mohammed</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2F2540F755E191155E8E6996C53C8A0FB26CBDCD</string>
						<key>dateExpires</key>
						<string>19/02/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_keyboard_visibility.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6U9L6W4Z79</string>
						<key>name</key>
						<string>Murtuza Mir Mohammed</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2F2540F755E191155E8E6996C53C8A0FB26CBDCD</string>
						<key>dateExpires</key>
						<string>19/02/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_local_notifications.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6U9L6W4Z79</string>
						<key>name</key>
						<string>Murtuza Mir Mohammed</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2F2540F755E191155E8E6996C53C8A0FB26CBDCD</string>
						<key>dateExpires</key>
						<string>19/02/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_logs.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6U9L6W4Z79</string>
						<key>name</key>
						<string>Murtuza Mir Mohammed</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2F2540F755E191155E8E6996C53C8A0FB26CBDCD</string>
						<key>dateExpires</key>
						<string>19/02/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_native_splash.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6U9L6W4Z79</string>
						<key>name</key>
						<string>Murtuza Mir Mohammed</string>
					</dict>
					<key>versionNumber</key>
					<string>2.4.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2F2540F755E191155E8E6996C53C8A0FB26CBDCD</string>
						<key>dateExpires</key>
						<string>19/02/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_pdfview.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6U9L6W4Z79</string>
						<key>name</key>
						<string>Murtuza Mir Mohammed</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2F2540F755E191155E8E6996C53C8A0FB26CBDCD</string>
						<key>dateExpires</key>
						<string>19/02/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_sound_record.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6U9L6W4Z79</string>
						<key>name</key>
						<string>Murtuza Mir Mohammed</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2F2540F755E191155E8E6996C53C8A0FB26CBDCD</string>
						<key>dateExpires</key>
						<string>19/02/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>fluttertoast.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6U9L6W4Z79</string>
						<key>name</key>
						<string>Murtuza Mir Mohammed</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2F2540F755E191155E8E6996C53C8A0FB26CBDCD</string>
						<key>dateExpires</key>
						<string>19/02/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>heif_converter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6U9L6W4Z79</string>
						<key>name</key>
						<string>Murtuza Mir Mohammed</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2F2540F755E191155E8E6996C53C8A0FB26CBDCD</string>
						<key>dateExpires</key>
						<string>19/02/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>image_cropper.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6U9L6W4Z79</string>
						<key>name</key>
						<string>Murtuza Mir Mohammed</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2F2540F755E191155E8E6996C53C8A0FB26CBDCD</string>
						<key>dateExpires</key>
						<string>19/02/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>image_picker_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6U9L6W4Z79</string>
						<key>name</key>
						<string>Murtuza Mir Mohammed</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2F2540F755E191155E8E6996C53C8A0FB26CBDCD</string>
						<key>dateExpires</key>
						<string>19/02/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>just_audio.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6U9L6W4Z79</string>
						<key>name</key>
						<string>Murtuza Mir Mohammed</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2F2540F755E191155E8E6996C53C8A0FB26CBDCD</string>
						<key>dateExpires</key>
						<string>19/02/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6U9L6W4Z79</string>
						<key>name</key>
						<string>Murtuza Mir Mohammed</string>
					</dict>
					<key>versionNumber</key>
					<string>3.30910.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2F2540F755E191155E8E6996C53C8A0FB26CBDCD</string>
						<key>dateExpires</key>
						<string>19/02/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>native_device_orientation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6U9L6W4Z79</string>
						<key>name</key>
						<string>Murtuza Mir Mohammed</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2F2540F755E191155E8E6996C53C8A0FB26CBDCD</string>
						<key>dateExpires</key>
						<string>19/02/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>open_file_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6U9L6W4Z79</string>
						<key>name</key>
						<string>Murtuza Mir Mohammed</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2F2540F755E191155E8E6996C53C8A0FB26CBDCD</string>
						<key>dateExpires</key>
						<string>19/02/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>open_file_plus.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6U9L6W4Z79</string>
						<key>name</key>
						<string>Murtuza Mir Mohammed</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2F2540F755E191155E8E6996C53C8A0FB26CBDCD</string>
						<key>dateExpires</key>
						<string>19/02/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>package_info_plus.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6U9L6W4Z79</string>
						<key>name</key>
						<string>Murtuza Mir Mohammed</string>
					</dict>
					<key>versionNumber</key>
					<string>0.4.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2F2540F755E191155E8E6996C53C8A0FB26CBDCD</string>
						<key>dateExpires</key>
						<string>19/02/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>path_provider_foundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6U9L6W4Z79</string>
						<key>name</key>
						<string>Murtuza Mir Mohammed</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2F2540F755E191155E8E6996C53C8A0FB26CBDCD</string>
						<key>dateExpires</key>
						<string>19/02/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>shared_preferences_foundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6U9L6W4Z79</string>
						<key>name</key>
						<string>Murtuza Mir Mohammed</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2F2540F755E191155E8E6996C53C8A0FB26CBDCD</string>
						<key>dateExpires</key>
						<string>19/02/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>sqflite_darwin.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6U9L6W4Z79</string>
						<key>name</key>
						<string>Murtuza Mir Mohammed</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2F2540F755E191155E8E6996C53C8A0FB26CBDCD</string>
						<key>dateExpires</key>
						<string>19/02/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>url_launcher_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6U9L6W4Z79</string>
						<key>name</key>
						<string>Murtuza Mir Mohammed</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2F2540F755E191155E8E6996C53C8A0FB26CBDCD</string>
						<key>dateExpires</key>
						<string>19/02/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>video_player_avfoundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6U9L6W4Z79</string>
						<key>name</key>
						<string>Murtuza Mir Mohammed</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2F2540F755E191155E8E6996C53C8A0FB26CBDCD</string>
						<key>dateExpires</key>
						<string>19/02/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>wakelock_plus.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6U9L6W4Z79</string>
						<key>name</key>
						<string>Murtuza Mir Mohammed</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2F2540F755E191155E8E6996C53C8A0FB26CBDCD</string>
						<key>dateExpires</key>
						<string>19/02/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>zego_callkit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6U9L6W4Z79</string>
						<key>name</key>
						<string>Murtuza Mir Mohammed</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2F2540F755E191155E8E6996C53C8A0FB26CBDCD</string>
						<key>dateExpires</key>
						<string>19/02/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>zego_uikit_signaling_plugin.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6U9L6W4Z79</string>
						<key>name</key>
						<string>Murtuza Mir Mohammed</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2F2540F755E191155E8E6996C53C8A0FB26CBDCD</string>
						<key>dateExpires</key>
						<string>19/02/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>zego_zim.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6U9L6W4Z79</string>
						<key>name</key>
						<string>Murtuza Mir Mohammed</string>
					</dict>
					<key>versionNumber</key>
					<string>2.17.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2F2540F755E191155E8E6996C53C8A0FB26CBDCD</string>
						<key>dateExpires</key>
						<string>19/02/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>zego_zpns.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6U9L6W4Z79</string>
						<key>name</key>
						<string>Murtuza Mir Mohammed</string>
					</dict>
					<key>versionNumber</key>
					<string>2.6.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>6U9L6W4Z79.com.social.taso</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>6U9L6W4Z79</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>eb62f1a7-6709-4d86-aead-bb8824dd420a</string>
				<key>dateExpires</key>
				<string>19/02/26</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.social.taso</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>6U9L6W4Z79</string>
				<key>name</key>
				<string>Murtuza Mir Mohammed</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.4</string>
		</dict>
	</array>
</dict>
</plist>
